/* global font Codec */
@font-face {
  font-family: "Codec-Cold-Bold-trial";
  src: url("../css/fonts/Codec-Cold-Bold-trial.ttf");
}

/* global html, body styles */
html, body {
  box-sizing: border-box;
  font-family: Codec-Cold-Bold-trial, Arial, sans-serif;
  background: #dee4e7;
}

/* set box sizing options. this allows other box sizing if needed */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* set navbar styles */
.navbar {
  border-radius: 0;
}

/* styles for nav subject selector and home link */
a.dropdown-toggle,
a.home_link {
  font-size: 18px;
}
/* page_title styles */
.page_title {
  font-size: 48px;
}

.main {
  text-align: center;
}
