/* global font Codec */
@font-face {
  font-family: "Codec-Cold-Bold-trial";
  src: url("../css/fonts/Codec-Cold-Bold-trial.ttf");
}

/* global html, body styles */
html, body {
  box-sizing: border-box;
  font-family: Codec-Cold-Bold-trial, Arial, sans-serif;
  background: #dee4e7;
}

/* set box sizing options. this allows other box sizing if needed */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* page_title styles */
.page_title {
  text-align: center;
  font-size: 48px;
}
