<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- page tab title -->
    <title>Index Cards</title>
    <!-- link to css file -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- viewport meta tag for responsive development -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- main page title -->
    <h1 class='page_title'>Index Card Questions!</h1>
    <!-- bring in main js file -->
    <script src="../js/main.js"></script>
  </body>
</html>

<!-- TODO:
    add js
    add views
    add navbar
    bring in bootstrap
    set styles
    set objects for questions/answers
    set page title h1 according to user subject selection from navbar
 -->
