<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- page tab title -->
    <title>Index Cards</title>

    <!-- bootstrap version 3.3.7 links, scripts -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- jquery 3.3.1 script -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- end of bootstrap links and scripts -->

    <!-- link to css file -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- viewport meta tag for responsive development -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- navbar navbar-default is standard, navbar-inverse swaps colors -->
    <nav class="navbar navbar-inverse">
      <!-- change container-fluid class to container so the navbar items have more left padding -->
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subject Areas<span class="caret"></span></a>
              <ul id="topics" class="dropdown-menu">
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Water Distribution</a></li>
                <li><a href="#">Water Treatment</a></li>
                <li><a href="#">Information Technology</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
              <ul id="menu" class="dropdown-menu">
                <li><a class="home_link" href="index.html">Start Over</a></li>
                <li><a href="#">Add Question</a></li>
              </ul>
            </li>
          </ul> <!-- ends navbar-right dropdown -->
        </div><!-- closes .navbar-collapse -->
      </div><!-- closes container div -->
    </nav> <!-- closes navbar -->

    <div class="main">
      <!-- main page title -->
      <h1 id='page_title' class='page_title'>Index Card Questions!</h1>
      <p id='question_field'></p>
      <p id='answer_field'></p>
      <button id='question_button' class="btn btn-primary submit" type="button" name="button">Random Question</button>
      <button id='answer_button' class="btn btn-success submit" type="button" name="button">View Answer</button>
      <input id="add_question_field" type="text" name="add_question" placeholder="Add a question here">
      <input id="add_answer_field" type="text" name="add_answer" placeholder="Add the answer here">
      <button id='submit_question' class='btn btn-success' type="button" name="button"></button>
    </div> <!-- ends main div -->
    <!-- main js file script -->
    <script src="../js/main.js"></script>
  </body>
</html>

<!-- TODO:
    change background to white, add rounded #eaeaea border around page content, including questions, answers, and add question/answer fields, but not around question hyperlinks
    don't allow question and answer fields to push buttons around. set position to relative? button position to absolute?
    set styles
    set width of add question input field to 100% or nearly that, on mobile. use media query to change this for > 768 px to 40%;
      also do this for the answer input field
    check font size for h1, question and answer fields
    hide question/answer buttons until subject is chosen
    create add question function, button
    stretch goal: make questions unique, but also looping back to beginning
    create links in footer to question numbers
    set questions by chosen subject area
    create show answer button, field in DOM
    customize navbar, check responsiveness
    set margins on DOM, elements are crowded together currently
    hide answer button until a question is chosen
    remove borders on buttons
    may want to make a way to hide the add question buttons and fields once done
    check for empty input fields before onclick event? ajax?
 -->
